name: installation test 

on:
  push:
    branches:
      - main

env:
  VERSION: 2.2 

jobs:
  build:
    runs-on: macos-latest

    steps:
    - name: Install the package
      run: brew install ariadne-cps/tap/ariadne

    - name: Install G++ 10
      run: brew install gcc@10

    - name: Extract Ariadne Distribution
      working-directory: ${{runner.workspace}}
      run: |
        curl -o ariadne.tar.gz -LJO https://github.com/ariadne-cps/ariadne/archive/v$VERSION.tar.gz  
        gunzip -c ariadne.tar.gz | tar xopf -
        mv ariadne-$VERSION ariadne
          
    - name: Check C++ Rigorous Numerics Tutorial
      working-directory: ${{runner.workspace}}/ariadne/tutorials/rigorous_numerics
      run: |
        cmake . -DCMAKE_CXX_COMPILER=g++-10
        cmake --build .
        ./rigorous_numerics_tutorial -v 0 > /dev/null

    - name: Run Python Rigorous Numerics Tutorial
      working-directory: ${{runner.workspace}}/ariadne/python/tutorials
      run: python3 rigorous_numerics_tutorial.py > /dev/null

        
        
